* {
  margin: 0;
  padding: 0;
} 

body {
    background-color: #9883e5;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 15px;
    border: none;
    font-size: 8vmin;
    color: #72A1E5;
    background-color: #fcd3de;
}

.reset {
    padding: 1rem;
    font-size: 0.8rem;
    color: #2E382E;
    border-radius: 1rem;
    border: none;
    background-color: #72A1E5;
}

h1 {
    color: #2e382e;
}

#newBttn {
    padding: 1rem;
    font-size: 0.8rem;
    color: #2E382E;
    border-radius: 1rem;
    border: none;
    background-color: #72A1E5;
}

#mssg {
    color: beige;
    font-size: 5vmin;
}

.mssg-container{
    height: 30vmin;    
}

.hide {
    display: none;
}

